/* Style général du tableau */
#table-panier {
    width: 75%;
    border-collapse: collapse;
    /*margin-top: 20px;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

/* Style de l'en-tête du tableau */
#table-panier thead {
    background-color: #F5DEB3;
    color: black;
}

#table-panier th, #table-panier td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* Style des lignes alternées */
#table-panier tbody tr:nth-child(even) {
    background-color: #FFF5EE;
}

/* Style des boutons de suppression */
#table-panier button {
    background-color: #FFFFFF;
    color: #FF6347;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#table-panier button:hover {
    background-color: #FF6347;
    color: #FFFFFF;
}

/* Style du message "panier vide" */
.panier-vide {
    text-align: center;
    font-style: italic;
    color: #888;
    padding: 15px;
}

.total-row td {
    text-align: right; /* Aligne le texte à droite */
    font-weight: bold; /* Met en gras */
    padding-right: 10px; /* Ajoute un peu d'espace à droite */
}

/* Bouton pour commander */
.commande-container {
    display: flex;
    justify-content: flex-end; /* Aligne à droite */
    margin-top: 20px; /* Espace entre le tableau et le bouton */
}

#commander {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #F5DEB3;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#commander:hover {
    background-color: #FFD700;
}

