.accordion {
  pointer-events: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 10px;
  background: #FFEBCD;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel {
  padding: 10px;
  display: flex;
  background: #f9f9f9;
  border: 1px solid #ccc;
}
