.description-bloc {
  display: inline-block;
  border: 2px solid #FFD6A5;
  border-radius: 12px;
  background-color: #FFFAF2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin-top: 20px;
}

.accordion {
  background: transparent;
  border: none;
  padding: 12px 16px;
  font-weight: bold;
  font-family: 'Alice', serif;
  font-size: 18px;
  color: #5C4033;
}

.panel {
  padding: 14px 16px;
  font-family: 'Alice', serif;
  color: #333;
}
