.description-bloc {
  display: inline-block;
  border: 2px solid #8A2BE2;
  border-radius: 12px;
  background-color: #9370DB;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin-top: 20px;
  width: 100%;
}

.accordion {
  background: transparent;
  border: none;
  padding: 5px 10px;
  font-weight: bold;
  font-family: 'Alice', serif;
  font-size: 18px;
  color: #333;
}

.panel {
  padding: 14px 16px;
  font-family: 'Alice', serif;
  color: #333;
}
