/* ---- Style de l'entete du site web ---- */

header { /* Entete avec fond au dessus de la page web*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Images/Entete_site_logo.png"); /* Image de fond */
    background-size: cover; /* Ajuste l’image */
    background-position: center; /* Centre l’image */
    margin-bottom: 10px; 
    max-width: 1600px;
    height: 150px;
}

header img { /*Specifications du logo qui se met par dessus l'entete au dessus de la page web*/
    max-width: 240px; /* Ajuste la taille max du logo */
    height: auto; /* Garde les proportions */
    border-radius: 70px;  /* Ajuste l’effet des coins */
    margin-bottom: 15px; /* Ajoute un espace sous l'en-tête */
}

@media screen and (min-width: 1600px) { /* modif de l'entete pour des écrans très large*/
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("Entete_site_logo.png"); /* Image de fond */
        background-size: cover; /* Ajuste l’image */
        background-position: center; /* Centre l’image */
        margin-bottom: 10px; 
        max-width: 1900px;
        height: 255px;
    }
    
    header img {
        max-width: 350px; /* Ajuste la taille max du logo */
        height: auto; /* Garde les proportions */
        border-radius: 70px;  /* Ajuste l’effet des coins */
        margin-bottom: 15px; /* Ajoute un espace sous l'en-tête */
    }
}

/* ---- Body ---- */
.txtdescrip { /* Texte descriptif - après l'entete dans boutique*/
    text-align: center;
    margin-top: 5px;
    width: 100%;
}

.titlestyle { /* Titre de la page*/
    text-align: center;
    width: 100%;
    font-size: 26px;
}

body { /* definit les spécifications dans le body: couleur du fond*/
    background-color: #FFFAFA; /* Gris clair, change la couleur selon ton choix */
}
