header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url("entete2.png"); /* Image de fond */
    background-size: cover; /* Ajuste l’image */
    background-position: center; /* Centre l’image */
}

header img {
    max-width: 550px; /* Ajuste la taille max du logo */
    height: auto; /* Garde les proportions */
}

main {
    text-align: center;
    margin-top: 15px;
}
