header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    /*background-image: url("entete2.png"); /* Image de fond */
    /*background-size: cover; /* Ajuste l’image */
    /*background-position: center; /* Centre l’image */ 
}

header img {
    max-width: 380px; /* Ajuste la taille max du logo */
    height: auto; /* Garde les proportions */
    border-radius: 70px;  /* Ajuste l’effet des coins */
}

main {
    text-align: center;
    margin-top: 5px;
}
