/* ---- Style de l'entete du site web ---- */
header { /* Entete avec fond au dessus de la page web*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Entete_site_logo.png"); /* Image de fond */
    background-size: cover; /* Ajuste l’image */
    background-position: center; /* Centre l’image */
    margin-bottom: 10px; 
    max-width: 1600px;
    height: 150px;
}

header img { /*Specifications du logo qui se met par dessus l'entete au dessus de la page web*/
    max-width: 240px; /* Ajuste la taille max du logo */
    height: auto; /* Garde les proportions */
    border-radius: 70px;  /* Ajuste l’effet des coins */
    margin-bottom: 15px; /* Ajoute un espace sous l'en-tête */
}

@media screen and (min-width: 1600px) { /* modif de l'entete pour des écrans très large*/
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("Entete_site_logo.png"); /* Image de fond */
        background-size: cover; /* Ajuste l’image */
        background-position: center; /* Centre l’image */
        margin-bottom: 10px; 
        max-width: 1900px;
        height: 255px;
    }
    
    header img {
        max-width: 350px; /* Ajuste la taille max du logo */
        height: auto; /* Garde les proportions */
        border-radius: 70px;  /* Ajuste l’effet des coins */
        margin-bottom: 15px; /* Ajoute un espace sous l'en-tête */
    }
}
/* ---- Body ---- */
txt_descrip { /* Texte descriptif juste après l'entete*/
    text-align: center;
    margin-top: 5px;
    padding: 20px;
}

body { /* definit les spécifications dans le body: couleur du fond*/
    background-color: #FFFAFA; /* Gris clair, change la couleur selon ton choix */
}


/* ---- Affichage et style de l'encadré à gauche avec les hyperlinks---- */
.sidebar{ 
    width: = 25%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* ---- Affichage et style des produits ---- */
.products { 
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1000px; /* Pour éviter que ça prenne toute la largeur */
    margin: auto;
    width: 75%;
}

.product {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.product img { /*spécifications de l'image du produit*/
    width: 100%;
    border-radius: 10px;
}

.product pdt_name { /*spécifications de l'affichage du nom du produit*/
    font-size: 18px;
    margin: 10px 0;
}

.product pdt_descr { /*spécifications de l'affichage du descriptif du produit*/
    font-size: 14px;
    color: #555;
}

.price { /* Spécifications de l'affichage du prix*/
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #27ae60;
    margin: 10px 0;
}

.bandeau {
    display: flex;
    justify-content: flex-end; /* Alignement à droite */
    align-items: center; /* Centre verticalement */
    gap: 15px; /* Ajoute un espace entre les boîtes */
    padding: 10px; /* Ajoute de l'espace autour du conteneur */
    background-color: #B8860B;
}

.box { /* Traite du texte comme des boxs*/
    background: none; /* Pas de couleur de fond */
    /*padding: 10px 20px; /* Ajoute un peu d’espace à l’intérieur */
    font-size: 18px; /* Ajuste la taille du texte */
    color:#DB7093;
    font-weight: bold; /* Rend le texte en gras */
}
